@tailwind base;
@tailwind components;
@tailwind utilities;
:root,
body,
html {
  scroll-behavior: smooth;
  @apply h-full bg-light dark:bg-black;
}
* {
  @apply transition-all;
}
*::-webkit-scrollbar {
  @apply bg-neutral-800;
  width: 5px;
  max-width: 5px;
  max-width: 5px;
  height: 5px;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  @apply bg-sky-500 rounded-full bg-opacity-40;
}
.rdrDay .rdrDayNumber span {
  color: #ffffff !important;
}
.rdrDayDisabled .rdrDayNumber span {
  color: rgb(248 113 113 / 1) !important;
}
.rdrDayDisabled:hover {
  background: rgba(255 255 255/0.3);
  @apply rounded-md;
}
.rdrDayPassive:hover {
  background: rgba(255 255 255/0.1);
  @apply rounded-md;
}
.tab-container::-webkit-scrollbar {
  height: 5px;
}
::selection {
  @apply bg-sky-700 cursor-default transition-all;
}
.scroll-hidden::-webkit-scrollbar {
  @apply hidden;
}
:root {
  --toastify-color-success: #0ea5e9;
  --background-color: #ffffff;
  --header-background-color: #e1e8ed;
  --text-color: #14171a;
  --link-color: #0ea5e9;
  --button-color: #0ea5e9;
  --button-text-color: #ffffff;
  --accent-color: #0ea5e9;
  --highlight-color: #e1e8ed;
}
.Toastify__toast-container--bottom-left {
  @apply fixed top-0 left-0 w-full h-fit md:left-5 md:top-[unset] md:bottom-5 md:w-fit md:min-w-[300px];
}
button {
  @apply hover:scale-105 active:scale-90 transition-all;
}
.skeleton {
  animation: skeleton-loading 2s linear infinite alternate-reverse;
  cursor: progress;
  background: linear-gradient(
    90deg,
    rgba(65, 65, 65, 1) 0%,
    rgba(106, 106, 106, 1) 31%,
    rgba(106, 106, 106, 1) 33%,
    rgba(65, 65, 65, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-position: 0 50%;
}

@keyframes skeleton-loading {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
