@tailwind base;
@tailwind components;
@tailwind utilities;
:root,
body,
html {
  scroll-behavior: smooth;
  @apply h-full bg-black;
}
* {
  @apply transition-all;
}
*::-webkit-scrollbar {
  @apply bg-neutral-800;
  width: 5px;
  max-width: 5px;
  max-width: 5px;
  height: 5px; 
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  @apply bg-sky-500 rounded-full bg-opacity-50;
}
.rdrDay .rdrDayNumber span {
  color: #ffffff !important;
}
.rdrDayDisabled .rdrDayNumber span {
  color: rgb(248 113 113 / 1) !important;
}
.rdrDayDisabled:hover {
  background: rgba(255 255 255/0.3);
  @apply rounded-md;
}
.rdrDayPassive:hover {
  background: rgba(255 255 255/0.1);
  @apply rounded-md;
}
.tab-container::-webkit-scrollbar {
  height: 5px;
}
